# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
.venv/
venv/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# PyTorch / ML checkpoints
# =========================
*.pth
*.pt
*.ckpt

# =========================
# Weights & Biases (local cache only)
# =========================
wandb/
wandb_artifacts/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Dataset / caches
# =========================
.cache/
kagglehub/
datasets/
data/

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Saved Models
# =========================
notebooks/models